# Ignore everything by default. So this is a "Docker include" file.
*

!LICENSE
!README.ms

# Gradle
!.editorconfig
!build.gradle.kts
!config
!gradle
!gradlew
!settings.gradle.kts

# Code
!src
!prettyprinting
!examples
!errors
