# Ignore everything by default. So this is a "Docker include" file.
*

!LICENSE
!README.ms

# Configuration
!.editorconfig

# Gradle
!*.gradle.kts
!gradle.properties
!compiler/*.gradle.kts
!compiler/gradle.properties
!gradle
!gradlew

# Code
!compiler/src
!compiler/examples
!compiler/errors
